body {
  font-family: monospace;
  text-align: center;
}

a {
  text-decoration: none;
  color: darkgreen;
}

button {
  padding: 10px;
  background-color: chartreuse;
  color: darkgreen;
  font-family: monospace;
  font-weight: bolder;
}

input {
  padding: 10px;
  width: 300px;
}

.header {
  color: darkblue;
  font-size: 50px;
  animation: colorchange 20s infinite alternate;
}

@keyframes colorchange {
  0% {
    color:darkcyan;
  }
  10% {
    color: chartreuse;
  }

  20% {
    color: darkgreen;
  }

  30% {
    color: darkslateblue;
  }

  40% {
    color: purple;
  }

  50% {
    color: fuchsia;
  }

  60% {
    color: hotpink;
  }

  70% {
    color: indianred;
  }

  80% {
    color: red;
  }

  90% {
    color: mediumvioletred;
  }

  100% {
    color: lightseagreen;
  }
}